{% extends "base.html" %}
<head></head>
{% load i18n %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/projectdjango/DHTMLMenuExpanderV2.js"></script>
<script type="text/javascript" src="/media/js/projectdjango/sample4.js"></script>
<LINK rel="stylesheet" type="text/css" href="/media/css/projectdjango/horizontal.css">
<LINK rel="stylesheet" type="text/css" href="/admin-media/css/dashboard.css">
<LINK rel="stylesheet" type="text/css" href="/media/css/global.css">
{% endblock %}

{% block breadcrumbs %}
<div id="menuSystem">
	<table id="mainTable">
		<tr>
			<td>
				<table>
					<tr>
						<th width="100">Users</th>
					</tr>
					<tr>
						<td><a href="../register_student/">Register Students</a></td>
					</tr>
					<tr>
						<td><a href="../register_assistant/">Register Assistants</a></td>
					</tr>
					<tr>
						<td><a href="../assign_students/">Assign Students to Assitants</a></td>
					</tr>
					<tr>
						<td><a href="../users/">Users Details</a></td>
					</tr>
					<tr>
						<td><a href="../actions/">See System Actions</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="140">Exercise</th>
					</tr>
					<tr>
						<td><a href="../add_exercise/">New Exercise</a></td>
					</tr>
					<tr>
						<td><a href="../exercises/">List Exercises</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100">Test</th>
					</tr>
					<tr>
						<td><a href="../add_test/">New Test</a></td>
					</tr>
					<tr>
						<td><a href="../tests/">List Tests</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100">Views</th>
					</tr>
					<tr>
						<td><a href="../teacher_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../all_students/">All Students</a></td>
					</tr>
					<tr>
						<td><a href="../assigns/">Assistants - Students</a></td>
					</tr>
				</table>
			</td>

			<td>
				<table>
					<tr>
						<th width="100"><a href="../logout/">Logout</a></th>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../help" target="_blank">Help</a></th>
					</tr>
				</table>
			</td>
			<td>
			<table>
				<tr>
					<th width="100"><font size=4><a href="../change_password/">Change Password</a></font></th>
				</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<!-- Menu end -->
{% endblock %}

{% block title %}Actions Log{% endblock %}

{% block content %}
<div id="container">
		<br></br>
		<br></br>
		<br></br>
		{% block branding %}<h1 id="site-name"><font size="4">{% trans 'Actions Log of System' %}</font></h1>
		{% endblock %}
		
<div id="content-main">
	<br></br>
	<br></br>

	{% if msg %}
		<ul class="messagelist"><li>{{ msg }}</li></ul>
	{% endif %}
	
	{% if actions %}
		<table id="list">
		<thead>
        <tr>
			<th scope="col"><center><h4>{% trans 'Username' %}</center></h4></th>
            <th scope="col"><center><h4>{% trans 'Action' %}</center></h4></th>
			<th scope="col"><center><h4>{% trans 'Date' %}</center></h4></th>
        </tr>
		</thead>
        <tbody>
		 {% for a in actions %}
			<tr>
            <td><font size=2>{{ a.user.username }}</font></td>
			<td><font size=2>{{ a.action }}</font></td>
			<td><center><font size=2>{{ a.date|date:"d/m/Y H:i:s" }}</font></center></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
	{% else %}
		<div>There are not actions registered.</div>
	{% endif %}
	</div>
	</div>
	{% endblock %}