{% extends "base.html" %}
<head>
</head>
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media/js/projectdjango/DHTMLMenuExpanderV2.js"></script>
<script type="text/javascript" src="/media/js/projectdjango/sample4.js"></script>
<LINK rel="stylesheet" type="text/css" href="/media/css/projectdjango/horizontal.css">
<LINK rel="stylesheet" type="text/css" href="/admin-media/css/dashboard.css">
{% endblock %}

{% block breadcrumbs %}

<div id="menuSystem">
	<table id="mainTable">
		<tr>
			<td>
				<table>
					<tr>
						<th width="100">Users</th>
					</tr>
					<tr>
						<td><a href="../../../../register_student/">Register Students</a></td>
					</tr>
					<tr>
						<td><a href="../../../../register_assistant/">Register Assistants</a></td>
					</tr>
					<tr>
						<td><a href="../../../../assign_students/">Assign Students to Assitants</a></td>
					</tr>
					<tr>
						<td><a href="../../../../users/">Users Details</a></td>
					</tr>
					{% if not is_assistant %}
					<tr>
						<td><a href="../../../../actions/">See System Actions</a></td>
					</tr>
					{% endif %}
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="140">Exercise</th>
					</tr>
					<tr>
						<td><a href="../../../../add_exercise/">New Exercise</a></td>
					</tr>
					<tr>
						<td><a href="../../../../exercises/">List Exercises</a></td>
					</tr>
					<tr>
						<td><a href="../../../../tests/">List Tests</a></td>
					</tr>
					
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100">Views</th>
					</tr>
					{% if is_assistant %}
					<tr>
						<td><a href="../../../../assistant_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../../../../global_assistant_view/">All Students</a></td>
					</tr>
					{% else %}
					<tr>
						<td><a href="../../../../teacher_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../../../../all_students/">All Students</a></td>
					</tr>
					{% endif %}
					<tr>
						<td><a href="../../../../assigns/">Assistants - Students</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../../../../logout/">Logout</a></th>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../../../../help" target="_blank">Help</a></th>
					</tr>
				</table>
			</td>
			<td>
			<table>
				<tr>
					<th width="100"><a href="../../../../change_password/">Change Password</a></th>
				</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<!-- Menu end -->
{% endblock %}

{% block title %}Submission View{% endblock %}

{% block content %}
<div id="container">
	<br></br>
	<br></br>
	<br></br>
	{% block branding %}<h1 id="site-name">{% trans 'Submission View' %}</h1>{% endblock %}	
		<br></br><div id="content-main">
		{% if error %}
			<ul class="errornote"><li>{{ error }}</li></ul>
		{% endif %}
		{% if msg %}
			<ul class="messagelist"><li>{{ msg }}</li></ul>
		{% endif %}
			<div><font size="3"><b>Name of student: </b>{{ student.user.first_name }}</font></div>
			<br><div><font size="3"><b>Exercise Title: </b>{{ exercise.name }}</font></div></br>
			<br><div><font size="3"><b>Description: </b> {{ exercise.description }}</font></div></br>
			<br><div>
				<font size="3"><b>Number of tests: </b>{{ exercise.number_tests }}</font>
			</div></br>
			<br><div>
				<font size="3"><b>Number of errors: </b>{{ result.errors_number }}</font>
			</div></br>
			<br><div>
				<font size="3"><b>Messages of errors: </b><p>{{ execution.log_errors }}</p></font>
			</div></br>
			<br><font size="3"><b>Code:</b>
				<pre>{{code}}</pre>
			</font></br>
			
			{% if test %}
				<div><font size=3><a href="../../../../hoopaloo/test_view/id={{test.id}}" target="_blank"> See Code of the Test</a></font></div>
			{% else %}
				<div>There are not test for this exercise</div>
			{% endif %}
			<br><form action="/hoopaloo/submission{{submission.id}}/student{{student.id}}/exercise/id={{exercise.id}}/" method="POST">
				<div class="form-row">
					<label for="comments">{% trans 'Comments:' %}</label><textarea name="comments" rows="8" cols="50" >{{submission.comments}}</textarea>
					<label for="score">{% trans 'Score:' %}</label><input type="text" name="score" maxlength="4" value="{% if submission.score %}{{submission.score}}{% endif %}"></input>
				</div>
					
				</div>
				<br>
					<div class="submit-row">
						<input type="submit" value="{% trans 'Send' %}" />
					</div>
				</br>
			</form></br>
	</div>
</div>
{% endblock %}