{% extends "base.html" %}
<head></head>
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media-test/js/djangotest/DHTMLMenuExpanderV2.js"></script>
<script type="text/javascript" src="/media-test/js/djangotest/sample4.js"></script>
<script type="text/javascript" src="/media-test/js/djangotest/DateTimeShortcuts.js"></script>
<link type="text/css" rel="stylesheet" href="/media-test/css/djangotest/dhtmlgoodies_calendar.css?random=20051112" media="screen"></LINK>
<SCRIPT type="text/javascript" src="/media-test/js/djangotest/dhtmlgoodies_calendar.js?random=20060118"></script>
<LINK rel="stylesheet" type="text/css" href="/media-test/css/djangotest/horizontal.css">

{% endblock %}

{% block breadcrumbs %}
<div id="menuSystem">
	<table id="mainTable">
		<tr>
			<td>
				<table>
					<tr>
						<th width="100">Users</th>
					</tr>
					<tr>
						<td><a href="../register_student/">Register Students</a></td>
					</tr>
					<tr>
						<td><a href="../register_assistant/">Register Assistants</a></td>
					</tr>
					<tr>
						<td><a href="../assign_students/">Assign Students to Assitants</a></td>
					</tr>
					<tr>
						<td><a href="../users/">Users Details</a></td>
					</tr>
					{% if not is_assistant %}
					<tr>
						<td><a href="../actions/">See System Actions</a></td>
					</tr>
					{% endif %}
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="140">Exercise</th>
					</tr>
					<tr>
						<td><a href="../add_exercise/">New Exercise</a></td>
					</tr>
					<tr>
						<td><a href="../exercises/">List Exercises</a></td>
					</tr>
					<tr>
						<td><a href="../tests/">List Tests</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100">Views</th>
					</tr>
					{% if is_assistant %}
					<tr>
						<td><a href="../assistant_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../global_assistant_view/">All Students</a></td>
					</tr>
					{% else %}
					<tr>
						<td><a href="../teacher_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../all_students/">All Students</a></td>
					</tr>					
					{% endif %}
					<tr>
						<td><a href="../assigns/">Assistants - Students</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../logout/">Logout</a></th>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../help" target="_blank">Help</a></th>
					</tr>
				</table>
			</td>
			<td>
			<table>
				<tr>
					<th width="100"><a href="../change_password/">Change Password</a></th>
				</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<!-- Menu end -->
{% endblock %}

{% block title %}Register Exercise{% endblock %}

{% block content %}
<div id="container">
		<br></br>
		<br></br>
		<br></br>
		{% block branding %}<h1 id="site-name"><font size="4">{% trans 'Exercises Registration' %}</font></h1>{% endblock %}	

<div id="content-main">
		{% if msg %}
			<ul class="messagelist"><li>{{ msg }}</li></ul>
		{% endif %}
		{% if error %}
			<div class="errornote">{{ error }}</div>
		{% endif %}
		
	<form action="/hoopaloo_test/add_exercise/" method="POST">
		<div class="form-row">
			<label for="name">{% trans 'Exercise Title' %}:</label><input type="text" name="name" id="name" value="" />
		</div>
		<div class="form-row">
			<label for="description">{% trans 'Description' %}:</label><textarea name="description" rows="8" cols="50"></textarea>
		</div>
		<div class="form-row">
			<label for="available">{% trans 'Available' %}: </label><input type="checkbox" name="available" checked />
		</div>
		<div class="form-row">
			<label for="date_finish">{% trans 'Date Finish' %}: </label><input type="text" class="vDateTimeField" value="{{friday}}" name="calendar"><input type="button" value="View Calendar" onclick="displayCalendar(document.forms[0].calendar,'yyyy-mm-dd hh:ii',this,true)">
		</div>
		
	<br><div class="submit-row">
		<input type="submit" value="Send" />
	</div></br>
	</form>

	
	</div>
</div>
{% endblock %}