{% extends "admin/base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}

{% block title %}Login{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Welcome to Hoopaloo' %}</h1>
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div>Enable cookies in your browser so you can use the system.</div>
  {% if errors %}
    <p class="errornote">Invalid Access</p>
  {% endif %}
<div id="content-main">
	{% if msg %}
		<ul class="messagelist"><li>{{ msg }}</li></ul>
	{% endif %}  
	<form action='/hoopaloo_test/login/' method='POST'>
		<table>{{ form }}</table>
	<div class="submit-row">
		<label>&nbsp;</label><input type="submit" value="{% trans 'Enter' %}" />
	</div>
  </form>
  	<br><a href="forgot_password">Forgot your password?</a></br>
</div>
{% endblock %}
