{% extends "base.html" %}
<head></head>
{% load i18n %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/projectdjango/DHTMLMenuExpanderV2.js"></script>
<script type="text/javascript" src="/media/js/projectdjango/sample4.js"></script>
<LINK rel="stylesheet" type="text/css" href="/media/css/projectdjango/horizontal.css">
{% endblock %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/dashboard.css{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
<div id="container">
		<br></br>
		<br></br>
		<br></br>
		{% block branding %}<h1 id="site-name"><font size="4">{% trans 'Change Password' %}</font></h1>{% endblock %}		
	<div id="content-main">
		<div>Inform your new password and repeat it.</div>
		{% if error %}
			<div class="errornote">{{ error }}</div>
		{% endif %}
		<br></br>
		<form action="/hoopaloo/change_password/" method="POST">
			<table>{{ form }}</table> 
			<p><input type="submit" value="Enter" /></p>
		</form>
	</div>
</div>

{% endblock %}