{% extends "admin/base_site.html" %}
{% load i18n %}
{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/login.css{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'Forgot your password?' %}</h1>
{% endblock %}

{% block bodyclass %}login{% endblock %}
{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}
{% block content %}
  {% if errors %}
    <ul class="messagelist"><li>{{ errors }}</li></ul>
  {% endif %}
<div id="content-main">
  <form action='/hoopaloo/forgot_password/' method='POST'>
    <table>{{ form }}</table>
	<div class="submit-row">
		<label>&nbsp;</label><input type="submit" value="{% trans 'Enter' %}" />
	</div>
  </form>
</div>
{% endblock %}
