{% extends "base.html" %}
<head></head>
{% load i18n %}

{% block extrahead %}
<script type="text/javascript" src="/media-test/js/djangotest/DHTMLMenuExpanderV2.js"></script>
<script type="text/javascript" src="/media-test/js/djangotest/sample4.js"></script>
<LINK rel="stylesheet" type="text/css" href="/media-test/css/djangotest/horizontal.css">
{% endblock %}

{% block breadcrumbs %}
<div id="menuSystem">
	<table id="mainTable">
		<tr>
			<td>
				<table>
					<tr>
						<th width="100">Users</th>
					</tr>
					<tr>
						<td><a href="../register_student/">Register Students</a></td>
					</tr>
					<tr>
						<td><a href="../register_assistant/">Register Assistants</a></td>
					</tr>
					<tr>
						<td><a href="../assign_students/">Assign Students to Assitants</a></td>
					</tr>
					<tr>
						<td><a href="../users/">Users Details</a></td>
					</tr>
					{% if not is_assistant %}
					<tr>
						<td><a href="../actions/">See System Actions</a></td>
					</tr>
					{% endif %}
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="140">Exercise</th>
					</tr>
					<tr>
						<td><a href="../add_exercise/">New Exercise</a></td>
					</tr>
					<tr>
						<td><a href="../exercises/">List Exercises</a></td>
					</tr>
					<tr>
						<td><a href="../tests/">List Tests</a></td>
					</tr>
				</table>
			</td>

			<td>
				<table>
					<tr>
						<th width="100">Views</th>
					</tr>
					{% if is_assistant %}
					<tr>
						<td><a href="../assistant_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../global_assistant_view/">All Students</a></td>
					</tr>
					{% else %}
					<tr>
						<td><a href="../teacher_view/">Your Students</a></td>
					</tr>
					<tr>
						<td><a href="../all_students/">All Students</a></td>
					</tr>
					{% endif %}
					<tr>
						<td><a href="../assigns/">Assistants - Students</a></td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../logout/">Logout</a></th>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<th width="100"><a href="../help" target="_blank">Help</a></th>
					</tr>
				</table>
			</td>
			<td>
			<table>
				<tr>
					<th width="100"><a href="../change_password/">Change Password</a></th>
				</tr>
				</table>
			</td>
		</tr>
	</table>
</div>
<!-- Menu end -->
{% endblock %}

{% block title %}Assign Students to Assistants{% endblock %}

{% block content %}

<div id="container">
		<br></br>
		<br></br>
		<br></br>
		{% block branding %}<h1 id="site-name"><font size="4">{% trans 'Assign Students to Assistants' %}</font></h1>
		{% endblock %}
	<div id="content-main">
		{% if msg %}
			<ul class="messagelist"><li>{{ msg }}</li></ul>
		{% endif %}
		{% if error %}
			<div class="errornote">{{ error }}</div>
		{% endif %}
		<div><br>Complete the field below with the following sequence: <b>Assistant's Username Students' Usernames</b><p>Example: john mary paul ann peter (john is a assistant and mary, paul, ann and peter are students)</p></br></div><br></br>
		<form action="/hoopaloo_test/assign_students/" method="POST">
			<table>{{ form }}</table> 
			<p><input type="submit" value="Enter" /></p>
		</form>
	</div>
</div>

{% endblock %}